<ion-view data-comp-id="ionic-view.1">
    <ion-content class=" dark-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1" style="margin: 15px;">
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.5">
                    <div class=" assertive" data-comp-id="text.2">
                        <b. 5<="" b="" baan=""></b.>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <label class="item item-input" data-comp-id="textInput.1">
                        <span class="input-label">User Name</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <label class="item item-input" data-comp-id="textInput.2">
                        <span class="input-label">Password</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <button class="button button-block button-positive" data-comp-id="button.1">Login</button>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4">
                    <div data-comp-id="text.1">error text</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>